.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.center {
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead {
  text-align: left;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 10px;
}

.table-container {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  width: 100%;
}
